// _inspiration.scss: Página de inspiración y proyectos

@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;
@use "sass:color";

// ============================
// Estilos para las tarjetas con imagen
// ============================
.contenedor-inspiracion {
  margin-top: 16rem;
  h2 {
    margin-bottom: 3rem;
  }
  .categoria {
    border-radius: 1rem;
    overflow: hidden;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.12); // sombra principal
    transition: transform 0.3s ease, box-shadow 0.3s ease;

    &:hover {
      transform: translateY(-5px);
      box-shadow: 0 16px 32px rgba(0, 0, 0, 0.18); // sombra al hover
    }

    .img-hover-wrapper {
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        height: 37rem;
        object-fit: cover;
        transition: transform 0.4s ease;
        display: block;
      }

      .img-overlay {
        position: absolute;
        inset: 0;
        background: linear-gradient(
          to top,
          rgba(0, 0, 0, 0.3),
          transparent
        ); // gradiente suave
        opacity: 0;
        transition: opacity 0.4s ease;
        z-index: 1;
      }

      &:hover {
        img {
          transform: scale(1.05);
        }

        .img-overlay {
          opacity: 1;
        }
      }
    }

    .card-body {
      padding: 2rem 1rem;
      text-align: center;

      .card-title {
        font-size: 1.5rem;
        font-weight: 600;
        margin-bottom: 1.2rem;
        color: $color-primario;
      }

      .btn {
        font-weight: 600;
        padding: 1rem 2.9rem;
        background-color: $color-secundario;
        border: none;
        font-size: 1.5rem;

        &:hover {
          background-color: color.adjust($color-secundario, $lightness: -10%);
        }
      }
    }
  }

  // ============================
  // Responsive
  // ============================

  @media (max-width: 768px) {
    .categoria {
      box-shadow: 0 6px 12px rgba(0, 0, 0, 0.08);

      .card-body {
        padding: 1.5rem 1rem;

        a.btn {
          font-size: 1.4rem;
        }
      }
    }
  }
}

.custom-modal {
  display: none; // empieza oculto
  position: fixed;
  inset: 0;
  z-index: 1050;
  background-color: rgba(0, 0, 0, 0.6);
  backdrop-filter: blur(6px);
  justify-content: center;
  align-items: center;
  padding: 2rem;

  &.activo {
    display: flex;
  }

  .modal-img-wrapper {
    max-width: 90vw;
    max-height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .custom-modal-content {
    max-width: 100%;
    max-height: 100%;
    border-radius: 1rem;
    object-fit: contain;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.4);
  }

  .custom-close {
    position: absolute;
    top: 2rem;
    right: 2rem;
    font-size: 3rem;
    color: white;
    cursor: pointer;
    z-index: 10;
  }
}
