// _inspiration: Página "Inspiración"
@use "../abstracts/mixins" as *;
@use "../abstracts/variables" as *;
@use "../components/buttons" as *;

/* INSPIRACIÓN */

.inspiracion-grid {
  margin: 5rem 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;

  a {
    background-color: #f1f1f1;
    text-align: center;
    display: block;
    padding: 1.5rem;
    font-size: 2rem;
  }
}

.contenedor-inspiracion {
  margin-top: 5rem;
}

.inspiracion-producto {
  img {
    height: 45rem;
    width: 100%;
    object-fit: cover;
  }

  a {
    background-color: #f1f1f1;
    text-align: center;
    display: block;
    padding: 1.5rem;
    font-size: 2rem;
    transition: all 0.3s ease-in-out;

    &:hover {
      background-color: #ff9900;
      color: #ffffff;
      border-bottom-right-radius: 1rem;
    }
  }
}

.catalogo-producto {
  a:hover {
    background-color: #ff9900;
    color: #ffffff;
    border-bottom-right-radius: 1rem;
  }
}

@media (max-width: 768px) {
  .listado-categorias {
    grid-template-columns: repeat(2, 1fr);
  }

  .catalog-grid,
  .inspiracion-grid {
    grid-template-columns: 1fr;
  }

  .sobre-nosotros-grid {
    grid-template-columns: 1fr;
  }

  .contenedor-grid-valores {
    flex-direction: column;
    gap: 2rem;
  }
}

@media (max-width: 480px) {
  .listado-categorias {
    grid-template-columns: 1fr;
  }

  .btn,
  .btn-circular {
    width: 100%;
    justify-content: center;
  }

  .icono-svg {
    display: none;
  }

  .testimonio-img {
    img {
      width: 120px;
      height: 120px;
    }
  }
}
