// _footer.scss: Estilos del pie de página.

@use "../abstracts/variables" as *;

/* FOOTER */
footer {
  background: $color-negro;
  color: $color-blanco;
  padding: 4rem 0 4rem;
  ul {
    list-style: circle;
    padding: 0;
  }
}

.logo-footer {
  display: flex;
  justify-content: center;
  padding: 0 0 6rem 0;
}
