// _header.scss: Estilos del encabezado / menú.

@use "../abstracts/variables" as *;

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: $color-gris-claro;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: $z-fixed;
}

/* Navbar */
.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 11rem;
  width: 100%;
  /* Logo */
  .nav-logo img {
    height: 6rem;
    transition: transform 0.3s ease-in-out 0.2s;
    transform-origin: left;
    &:hover {
      transform: scaleX(1.1) scaleY(1.1);
    }
  }
  .nav-burger,
  .nav-close {
    color: $color-secundario;
  }
}

/* Enlaces de navegación */
.nav-links {
  list-style: none;
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  a {
    text-decoration: none;
    color: $color-primario;
    font-weight: 600;
    padding: 1rem;
    transition: color 0.3s;
    &:hover {
      color: $color-secundario; /* Color destacado */
    }
    &.active {
      color: #ff9900;
      border-bottom: 2px solid #ff9900;
      padding-bottom: 5px;
    }
  }
}
/* Redes sociales */
.contenedor-icons {
  background-color: $color-primario;
  display: flex;
  height: 4rem;
  align-items: center;
  gap: 3rem;
  padding: 0.1rem 2.5rem;
  border-radius: 1rem;
  a {
    color: $color-blanco;
    transition: transform 0.3s ease-in-out;
    &:hover {
      color: $color-secundario;
      transform: scale(1.3);
    }
  }
}

@media (max-width: 768px) {
  .nav {
    flex-direction: row;
    align-items: center;
    gap: 2rem;
    padding: 2.5rem;
    .nav-logo img {
      height: 5rem;
    }
  }
}
